@import '@/styles/theme';
.create-container {
  overflow: auto;
  header {
    .create-prompt-tips {
      font-size: 14px;
      opacity: 0.5;
      margin: 10px 0;
    }
    .create-prompt-box {
      width: 100%;
      min-height: 320px;
      border: 2px solid $primary-200;
      border-radius: 10px;
      padding: 38px 15px 40px 15px;
      box-sizing: border-box;
      position: relative;
      .create-promp-box-header {
        position: absolute;
        top: 10px;

        i {
          font-size: 18px;
          margin-right: 5px;
          margin-bottom: 3px;
          background-image: linear-gradient(#af40ff, #5b42f3 50%, #00ddeb);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        img {
          cursor: pointer;
        }
      }
      .create-promp-box-footer {
        position: absolute;
        bottom: 10px;
      }
    }
  }
  main {
    margin: 50px 0;
    margin-top: 30px;
    .create-base-Info {
      width: 100%;
      margin-bottom: 30px;
      border-radius: 10px;
      padding: 20px;
      padding-bottom: 25px;
      box-sizing: border-box;
      background-color: $bg-200;
      position: relative;
      > :first-child {
        margin-bottom: 25px;
      }
      > :not(:last-child) {
        margin-bottom: 20px;
      }
      .create-base-title {
        white-space: nowrap;
        font-size: 14px;
      }
      .create-base-input {
        min-width: 50%;
      }
    }
    .create-high-config {
      > :first-child {
        margin-bottom: 5px;
      }
      .create-high-explain {
        opacity: 0.5;
        font-size: 12px;
      }
      .create-base-slider {
        width: 50%;
        @media screen and (max-width: 780px) {
          width: 80%;
        }
      }
      .create-hight-select {
        width: 50%;
        overflow: hidden;
      }
    }
  }
  footer {
    width: 100%;
  }
}

.create-container-modal-box {
  margin-bottom: 20px;

  .create-modal-chat-list {
    background-color: $bg-200;

    border-radius: 10px;
    padding: 12px;
    position: relative;

    // 编辑
    .create-modal-chat-history-edit {
      position: absolute;
      right: 8px;
      top: 8px;
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      border-radius: 50%;
      z-index: 1;
      width: 40px;
      height: 40px;
      line-height: 40px;
      > i {
        margin: 0 auto;
      }
    }
    // 聊天记录-预设对话
    .create-modal-chat-history {
      scroll-behavior: smooth; //平滑滚动
      font-size: 14px;
      width: 100%;
      height: 250px;
      overflow: auto;
      > div {
        margin: 15px 0;
        border-radius: 10px;
        display: flex;
        > img {
          height: 30px;
          border-radius: 50%;
        }

        .msg-item {
          padding: 8px 12px 0 12px;
          background-color: $primary-1100;
          border-radius: 4px;
          position: relative;
        }
        .msg-item-edit {
          width: 100%;
          .msg-item-del {
            cursor: pointer;
            position: relative;
            font-size: 16px;
            left: 2px;
            opacity: 0.3;
            transition: opacity 0.3s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      // 用户消息
      .user-msg {
        > img {
          margin-right: 5px;
        }
      }
      // 机器人消息
      .bot-msg {
        .msg-item {
          background-color: $bg-100;
        }
        > img {
          margin-right: 5px;
        }
      }
    }
  }
  .create-modal-chat {
    border: 2px solid $primary-200;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    margin: 20px 0;
    .create-modal-chat-header {
      padding: 0 3px 0 10px;
      i {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    .create-modal-chat-body {
      min-height: 40px;
    }
  }
}
.create-container-modal-footer {
  margin-top: 20px;
  .create-container-modal-footer-tips {
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.6;
    @media screen and (max-width: 780px) {
      display: none;
    }
  }
}

// 知识库下拉
.ant-cascader-dropdown .ant-cascader-menu-item-content {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 780px) {
  .ant-modal .ant-modal-content {
    padding: 20px 15px;
  }
}

// 夜间模式
.create-preview-container.dark-mode {
  .create-container {
    header {
      .create-prompt-box {
        border: 2px solid $primary-200;

        .create-promp-box-header {
          position: absolute;
          top: 10px;

          i {
            font-size: 18px;
            margin-right: 5px;
            margin-bottom: 3px;
            background-image: linear-gradient(#af40ff, #5b42f3 50%, #00ddeb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          img {
            cursor: pointer;
          }
        }
        .create-promp-box-footer {
          position: absolute;
          bottom: 10px;
        }
      }
    }
  }
}
