@import '@/styles/theme';

// 自定义下拉
.custom-dropdown-user {
  color: $text-200;
  background-color: $bg-100;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  > header {
    width: 100%;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    > i {
      font-size: 16px;
    }
  }
  > main {
    width: 100%;
    flex: 1;
  }
  > footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }
}
// 自定义下拉 - 黑暗模式
.custom-dropdown-user.dark-mode {
  color: $bg-100;
  background-color: $text-200;
  box-shadow: none;
}
