@import '@/styles/theme';
.discover-container {
  padding: 10px 5px;
  // scroll-behavior: smooth; //平滑滚动
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, 1fr); // 默认显示5列
    grid-auto-flow: column;
    @media screen and (max-width: 1400px) {
      grid-gap: 15px;
      grid-template-columns: repeat(4, 1fr); // 在较小的屏幕下显示4列
    }
    @media screen and (max-width: 1000px) {
      grid-gap: 10px;
      grid-template-columns: repeat(3, 1fr); // 在更小的屏幕下显示3列
    }
    @media screen and (max-width: 780px) {
      grid-gap: 5px;
      grid-template-columns: repeat(2, 1fr); // 在最小的屏幕下显示2列
    }
    .column {
      display: inherit;
      grid-gap: inherit;
      grid-auto-rows: min-content;
      .discover-list-item {
        cursor: pointer;
        background-color: $bg-100;
        border-radius: 6px;
        transition: box-shadow 0.2s;
        &:hover {
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }
        .discover-list-item-img {
          > img {
            width: 100%;
            max-height: 15vh;
            object-fit: cover;
            border-radius: 6px;
            @media screen and (max-width: 1800px) {
              max-height: 20vh;
            }
            @media screen and (max-width: 1200px) {
              max-height: 25vh;
            }
            @media screen and (max-width: 780px) {
              max-height: 30vh;
            }
          }
        }
        .discover-list-item-info {
          padding: 10px;
          font-size: 12px;
          .discover-list-item-info-name {
            font-size: 14px;
            font-weight: 700;
            max-width: 15ch; /* 最大宽度为15个字符的宽度 */
          }
          > p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .discover-list-item-info-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .discover-list-head {
              height: 25px;
              border-radius: 50%;
              margin-right: 5px;
            }
            .discover-list-star {
              font-size: 12px;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

// 黑暗模式
.discover-container.dark-mode {
  .wrapper {
    .column {
      .discover-list-item {
        background-color: $text-700;
      }
    }
  }
}
