.slider-header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 1px rgba(0, 0, 0, 0.1),
    0 3px 6px 2px rgba(0, 0, 0, 0.1);
  > :active {
    transform: scale(0.9);
  }
}
.slide-groups {
  padding: 16px;
  > div {
    padding: 12px 5px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    &.active {
      color: #242629;
      background: #ffffff;
    }
    &:not(.active):hover {
      background: rgba(250, 250, 250, 0.1);
    }
  }
}
.slide-members {
  padding: 16px;
  > div {
    padding: 12px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    .slide-member-icon {
      margin-right: 10px;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      background: #ffffff;
      position: relative;
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #00d726;
        position: absolute;
        bottom: 1px;
        right: 1px;
      }
      > i {
        font-size: 25px;
      }
    }
  }
}
.container-footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 420px);
  min-width: 500px;
  margin: 10px;
  padding: 20px 250px;
  background: #2f3236;
  border-top: 2px solid #383b3f;

  &-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
    &-btn {
      // width: 60px;
      // padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      > i {
        width: 35px;
        text-align: center;
        height: 35px;
        line-height: 35px;
        background: #6a6a6a;
        border-radius: 50%;
        margin-right: 10px;
        transition: transform 0.3s ease;
        &:active {
          transform: scale(0.9);
        }
      }
      .container-footer-sumbit {
        width: 70px;
        border-radius: 8px;
        padding: 6px 12px 6px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #01c8d3;

        font-size: 28px;
        cursor: pointer;
        transition: transform 0.3s ease;
        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

.chat-history-box {
  overflow: auto;
  padding: 5px 22px;
  padding-bottom: 135px;
  height: calc(100% - 165px);
  .chat-history {
    border-bottom: 1px solid #383b3f;
    padding: 18px 22px;
    display: flex;
    align-items: center;
    &:last-child {
      border-bottom: none;
    }
    &-header {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: #ffffff;
      margin-right: 10px;
    }
    &-name {
      font-size: 14px;
      color: #9e9fa1;
      margin-right: 10px;
    }
    &-time {
      font-size: 12px;
      color: #737472;
    }
    &-content {
      font-size: 15px;
      margin-top: 3px;
    }
  }
}
// 修改滚动条
.chat-history-box::-webkit-scrollbar {
  display: none !important;
}

/* 在屏幕宽度小于等于 768px 时应用的样式 */
@media screen and (max-width: 2200px) {
  .container-footer {
    padding: 20px 200px;
  }
}
@media screen and (max-width: 2000px) {
  .container-footer {
    padding: 20px 150px;
  }
}
@media screen and (max-width: 1800px) {
  .container-footer {
    padding: 20px 120px;
  }
}
@media screen and (max-width: 1600px) {
  .container-footer {
    padding: 20px 100px;
  }
}
@media screen and (max-width: 1500px) {
  .container-footer {
    padding: 20px 80px;
  }
}
@media screen and (max-width: 1200px) {
  .container-footer {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 1000px) {
  .container-footer {
    min-width: 300px;
    padding: 20px 5px;
  }
}
