@import '@/styles/theme';

.knowledge-detail {
  // 列表
  .knowledge-detail-list {
    .knowledge-detail-title {
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: -0px;
      right: 15px;
    }
    .knowledge-detail-content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      .knowledge-detail-table {
        width: 100%;
      }
      // 空
      .knowledge-content-empty {
        height: calc(100vh - 350px);
        display: flex;
        align-items: center;
        margin: 0 auto;
      }
    }
  }
  // 上传文件
  .knowledge-detail-import {
    main {
      .knowledge-import-link {
        margin-bottom: 30px;
        display: flex;
      }
    }
    footer {
      margin-top: 20px;
      text-align: right;
    }
  }
}

// detail - 弹框
.knowledge-detail-radio-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px 0;

  .knowledge-detail-radio-item {
    width: 100%;
    height: 100%;
    // padding: 20px;
    padding: 15px 20px 30px 20px;
    background-color: #f7f8fa;
    border: 1px solid rgb(232, 235, 240);
    box-sizing: border-box;
    border-radius: 8px;
    @media screen and (max-width: 768px) {
      padding: 10px 15px 25px 15px;
    }
    .knowledge-detail-radio-content {
      > :first-child {
        margin-bottom: 1px;
      }
      > :last-child {
        font-size: 12px;
        opacity: 0.3;
        position: absolute;
      }
    }
  }
}
