// 弹框-移动 move-list
.knowledge-move-bread {
  padding: 10px 5px;
}
.knowledge-move-list {
  max-height: 25vh;
  overflow: auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .knowledge-move-item-content {
    width: calc((100% - 30px) / 4);
    flex-direction: column;
    transition: background-color 0.1s;
    &:hover {
      background-color: #e5f3ff;
    }
    &:active {
      background-color: transparent;
    }
    img {
      width: 60%;
    }
    .knowledge-move-item-name {
      max-width: 80%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      img {
        width: 18%;
      }
      .knowledge-move-item-name {
        max-width: 60%;
        margin-left: 10px;
      }
    }
  }
  .knowledge-move-empty {
    margin: 20px auto;
  }
  @media screen and (max-width: 768px) {
    max-height: 50vh;
  }
}
.knowledge-list-modal-footer {
  margin-top: 10px;
  @media screen and (max-width: 768px) {
    text-align: center;
    .knowledge-list-modal-btn {
      width: 100%;
    }
  }
}
