.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flx-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flx-align-center {
  display: flex;
  align-items: center;
}
.flx-justify-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 清除浮动 */
.clearfix::after {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
  content: '';
}

/* 文字单行省略号 */
.single-omit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.multiple-omit {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自動換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

/* page switch animation */
.fade-enter {
  opacity: 0;
  transform: translateX(-30px);
}
.fade-enter-active,
.fade-exit-active {
  opacity: 1;
  transition: all 0.2s ease-out;
  transform: translateX(0);
}
.fade-exit {
  opacity: 0;
  transform: translateX(30px);
}

/* card 卡片样式 */
.card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
}

/* content-box */
.content-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .text {
    margin: 30px 0;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    a {
      text-decoration: underline !important;
    }
  }
}

// 鼠标样式
.cursor-point {
  cursor: pointer;
}
.cursor-grab {
  cursor: grab; //拖拽
}
.cursor-move {
  cursor: move; //移动
}

// 使用钉钉字体
.font-family-dingding {
  font-family: '钉钉进步体 Regular';
}

// 字体颜色
.color-text-primary {
  color: #1890ff;
}
.color-text-success {
  color: #52c41a;
}
.color-text-error {
  color: #f5222d;
}
.color-text-body {
  color: #2f2f33;
}
.color-text-active {
  color: #0162ff;
}
.color-text-fff {
  color: #ffffff;
}

// 首字母变色
.first-letter-color-blue::first-letter {
  color: #0040f8;
}
// 文字背景渐变
.gradient-text {
  background-image: linear-gradient(to right, #0040f8, #03ffd0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
// 文字渐变
.gradient-text-2 {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// 文字居中
.text-center {
  text-align: center;
}

// 禁止选中
.user-select {
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE , Edge */
  user-select: none; /* Standard syntax */
}

// 点击放大
.click-scale {
  transition: transform 80ms ease;
  &:active {
    transform: scale(0.9);
  }
}

// 按钮点击跳动
.click-jump {
  &:active {
    transform: translateY(2px);
    transition: 100ms;
  }
}

// 去除a标签默认样式
a.no-style {
  color: inherit;
  text-decoration: none;
}

// 背景小点
.bg-dots {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
}

.loading-rocks {
  display: flex;
  justify-content: center;
  .rock {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #000;
    animation: rock 1s ease-in-out infinite;
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}
@keyframes rock {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.8);
  }
}
// loading-jumps效果
.loading-jumps {
  display: flex;
  justify-content: center;
  .jump {
    width: 7px;
    height: 7px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: #1e1e1e;
    animation: jump 1s ease-in-out infinite;
    &:nth-child(2) {
      animation-delay: 0.15s;
    }
    &:nth-child(3) {
      animation-delay: 0.3s;
    }
  }
}

@keyframes jump {
  20% {
    transform: translateY(2%) scaleY(0.9);
  }
  40% {
    transform: translateY(-100%) scaleY(1.2);
  }
  50% {
    transform: translateY(10%) scaleY(0.8);
  }
  70% {
    transform: translateY(-5%) scaleY(1);
  }
  80%,
  100% {
    transform: translateY(0) scaleY(1);
  }
}

// 浮动效果
.float-up-down {
  transform: translatey(0px);
  animation: floatUD 3s ease-in-out infinite;
  @keyframes floatUD {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}
.float-left-right {
  transform: translatey(0px);
  animation: floatLR 5s ease-in-out infinite;
  @keyframes floatLR {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
.float-left-top {
  animation: floatLT 5s ease-in-out infinite;
  @keyframes floatLT {
    0% {
      transform: translateY(30px);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateY(30px);
    }
  }
}

// 旋转
.rotated-infinite {
  animation: rotated 2s infinite;
  will-change: transform;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}
@keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
// 移动 旋转
.rotate-move-infinite {
  transform-style: preserve-3d;
  transform: translate(0%, 0%) rotateX(-43deg) rotateY(-19deg) scale(1);
  animation: rotate-move 5s linear infinite;
}
@keyframes rotate-move {
  0% {
    transform: translateY(-30px) rotateY(0);
  }
  50% {
    transform: translateY(30px) rotateY(180deg);
  }
  100% {
    transform: translateY(-30px) rotateY(360deg);
  }
}
// 火箭抖动
.rocket-wiggle {
  animation: 1.5s ease-in-out 0s infinite alternate both wiggle;
  @keyframes wiggle {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}

// 按钮经过
.btn-hover {
  color: #16182b;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  box-shadow: 0 8px 18px 0 rgba(131, 131, 131, 0.672);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 100px;
    background-color: #ffdfed;
    transition: all 0.3s;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    border-radius: 100px;
    transition: all 0.3s;
    border: 1px solid #ffdfed;
    transform: scale(1.2, 1.2);
  }
  &:hover {
    color: #fff;
  }
  &:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  &:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }
}

// 动画 右往左滑入
.slide-in-left {
  /* 添加动画 */
  animation-name: slideInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  /* 定义动画 */
  @keyframes slideInLeft {
    from {
      transform: translateX(500%);
    }
    to {
      transform: translateX(0);
    }
  }
}

// 模拟app打开
.click-app-box:active {
  transform: scale(0.95);
  opacity: 0.7;
  transition: 100ms;
}
