// 字体颜色
$text-color-default: #191919;
$text-color-dark: #ffffff;

// 背景颜色
$background-color-default: #ffffff;
$background-color-dark: #191919;

// 🚀 ~ file: theme.scss:10 ~ 分割线:", 分割线  🚀

// // 默认模式
// .theme-default {
//   $text-color: $text-color-default;
//   $background-color: $background-color-default;
// }

// // 黑暗模式
// .theme-dark {
//   $text-color: $text-color-dark;
//   $background-color: $background-color-dark;
// }
