@import '@/styles/theme';
.form-container {
  margin: 15px 0;
  // 登录
  .login-container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .form-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: $bg-100;
      padding: 20px 5px;
      padding-bottom: 0;
      border-radius: 20px;
      .input-title {
        color: $text-200;
        font-weight: 600;
        margin-left: 3px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-tips {
          font-weight: 500;
          font-size: 12px;
          color: $accent-100;
        }
      }
      .input-content {
        box-sizing: border-box;
        border: 1.5px solid $bg-600;
        border-radius: 10px;
        height: 45px;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        transition: 0.2s ease-in-out;
        overflow: hidden;
        &:focus-within {
          border: 1.5px solid $accent-700;
        }

        i {
          font-size: 22px;
          &.icon-eyes {
            font-size: 18px;
            cursor: pointer;
          }
        }
        .icon-eyes-box {
          display: flex;
          align-items: center;

          position: relative;
          .icon-line {
            position: absolute;
            left: 0;
            width: 24px;
            height: 2px;
            background-color: $text-300;
            transform: rotate(-45deg) translateX(50px);
            transition: 0.2s;
          }
          .icon-line.line-w {
            transform: rotate(-45deg) translateX(0);
          }
        }

        .input-text {
          box-sizing: border-box;
          border-radius: 5px;
          border: none;
          width: 100%;
          margin: 0 2px;
          height: 100%;
          padding: 0 8px;
          &:focus {
            outline: none;
          }
        }
      }
      .form-other {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        > :first-child {
          display: flex;
        }
        label {
          font-size: 14px;
          color: $text-200;
          font-weight: 400;
          margin-left: 2px;
        }
      }
      .link {
        font-size: 14px;
        margin-left: 5px;
        color: $accent-700;
        font-weight: 500;
        cursor: pointer;
      }
      button {
        align-self: flex-end;
      }
      .button-submit {
        margin: 20px 0 10px 0;
        background-color: $text-800;
        border: none;
        color: $bg-100;
        font-size: 15px;
        font-weight: 500;
        border-radius: 10px;
        height: 45px;
        width: 100%;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          letter-spacing: 3px;
          background-color: $text-600;
        }
        &:active {
          letter-spacing: 3px;
          transform: translateY(5px);
          transition: 100ms;
        }
      }
      .form-login-or {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0px;
        text-align: center;
        opacity: 0.4;
        position: relative;
        &::before {
          content: '';
          width: 45%;
          height: 1px;
          background-color: $text-200;
          opacity: 0.4;
          position: absolute;
          left: 0;
          top: calc(50% - 1px);
        }
        &::after {
          content: '';
          width: 45%;
          height: 1px;
          background-color: $text-200;
          opacity: 0.4;
          position: absolute;
          right: 0;
          top: calc(50% - 1px);
        }
      }
      .register {
        text-align: center;
        color: $text-100;
        font-size: 14px;
        margin: 5px 0;
      }
      .fast-box {
        display: flex;
        flex-direction: column;
        .fast-btn {
          margin-top: 10px;
          width: 100%;
          height: 45px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          gap: 10px;
          border: 1px solid #ededef;
          background-color: white;
          cursor: pointer;
          transition: all 0.5s ease;
          outline: 2px solid transparent;
          &:first-child {
            margin-top: 5px;
          }
          &:active {
            // width: 90%;
            // opacity: 0;
            letter-spacing: 3px;
            transform: translateY(5px);
            transition: 100ms;
          }
          img {
            height: 30px;
          }
        }
        .github:hover {
          letter-spacing: 1px;
          outline: 2px solid $text-300;
        }
        .gitee:hover {
          letter-spacing: 1px;
          outline: 2px solid #c71d23;
        }
        .google:hover {
          letter-spacing: 1px;
          outline: 2px solid $accent-700;
        }
      }
    }
  }

  // .form-login {
  //   perspective: 1000px; //透视效果
  //   transition: transform 0.8s;
  //   transform-style: preserve-3d;
  // }
  // .form-toggle:checked {
  //   .form-login {
  //     transform: rotateY(180deg);
  //   }
  // }
  // .form-register {
  //   transform: rotateY(180deg);
  // }
  // 注册

  // 切换
  .form-toggle {
    .checkbox {
      width: 112px;
      height: 40px;
      background-color: #d0d0d0;
      border-radius: 30px;
      position: relative;
      color: black;
      overflow: hidden;
    }

    #checkbox_toggle {
      display: none;
    }

    .checkbox .toggle {
      width: 50px;
      height: 30px;
      position: absolute;
      border-radius: 30px;
      left: 5px;
      cursor: pointer;
      background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
      transition: 0.4s;
      box-shadow: 0px 0px 3px rgb(255, 255, 20), 0px 0px 5px rgb(255, 255, 20);
    }

    .checkbox .slide {
      width: 115px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
    }

    .checkbox .slide .text {
      font-size: 16px;
      font-weight: 700;
      z-index: 100;
      cursor: pointer;
    }

    .check:checked + .checkbox .slide .toggle {
      transform: translateX(55px);
      background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
      box-shadow: -0px -0px 10px #8983f7, -0px -0px 3px #8983f7;
    }

    .check:checked + .checkbox .slide {
      background-color: #0a1929;
      color: #fff;
    }
  }
}
