@import '@/styles/theme';
.login-container {
  box-sizing: border-box;
  transition: color 0.5s, background-color 0.5s;
  color: $text-200;
  background-color: $bg-100;
  position: relative;
  width: 100%;
  min-height: 100%;
  // overflow: auto;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  header {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    background: transparent;
    transform: translateZ(0); //触发 GPU 硬件加速
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    backface-visibility: hidden; //解决ios上内容闪动的问题
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    .header-content {
      padding: 0 25px;
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .mrk-logo {
        height: 28px;
        display: flex;
        align-items: center;
        img {
          height: 100%;
          &:last-child {
            margin-left: 5px;
            height: 70%;
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: center;
        height: 100%;
        .space-line {
          margin: 0 15px;
          width: 1px;
          height: 15px;
          background-color: #e8e8e8;
        }
      }
    }
  }
  main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1250px;
    margin: 65px auto;
    .rocket-box {
      position: relative;
      padding: 160px 0 100px 0;
      width: 100%;
      overflow: hidden;
      .rocket-bg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: move 50s linear infinite;
        @keyframes move {
          0% {
            transform: translate(-100%, -50%);
          }
          50% {
            transform: translate(100%, -50%);
          }
          100% {
            transform: translate(-100%, -50%);
          }
        }
      }
      .rocket-container {
        display: flex;
        justify-content: space-between;
        transform: translateZ(0); //触发 GPU 硬件加速
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        backface-visibility: hidden; //解决ios上内容闪动的问题
        -webkit-backdrop-filter: blur(30px); //兼容设备
        backdrop-filter: blur(30px);

        section {
          width: 50%;
          img {
            max-width: 80%;
            height: 100%;
          }
          .login-main-explain {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 30px;
            padding-bottom: 10px;
            .ai-title {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 48px;
              font-weight: 700;
              padding: 20px 0;
              padding-bottom: 15px;
              background: -webkit-linear-gradient(
                144deg,
                #9500ff,
                $primary-500 80%,
                #00ddeb
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              .ai-icon {
                font-size: 35px;
                margin-left: 10px;
              }
            }
            .ai-subtitle {
              font-size: 35px;
              font-weight: 700;
              padding-bottom: 20px;
            }
            .ai-point {
              opacity: 1;
              padding-bottom: 20px;
              font-size: 25px;
              font-weight: 700;
              display: flex;
              justify-content: center;
              align-items: center;
              .space-line {
                margin: 0 15px;
                width: 2px;
                height: 16px;
                background-color: #e8e8e8;
              }
            }
            .ai-explain {
              opacity: 0.6;
              min-height: 3em;
              font-size: 16px;
              &:hover {
                opacity: 1;
              }
            }
            .explain-btn {
              font-weight: 600;
              letter-spacing: 1.8px;
              margin-top: 40px;
              display: flex;
              justify-content: center;
              > div {
                color: $bg-100;
                cursor: pointer;
                text-decoration: none;
                padding: 10px 24px;
                border-radius: 24px;
                border: none;
                transition: all 80ms ease-in-out;
              }
              > :first-child {
                margin-right: 20px;
                background: linear-gradient(
                  -45deg,
                  $accent-500 0%,
                  $accent-600 100%
                );
                outline: 2px solid transparent;

                &:hover {
                  transform: scale(1.05);
                  outline: 2px solid $text-300;
                  background: transparent;
                  color: $text-300;
                }
                &:active {
                  transform: scale(0.95);
                }
              }
              > :last-child {
                background-color: $text-200;
                overflow: hidden;
                position: relative;
                .explain-text {
                  transform: translateY(0%);
                  opacity: 1;
                  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                }
                &:after {
                  content: 'M-DOC';
                  position: absolute;
                  left: 23px;
                  transform: translateY(50%);
                  opacity: 0;
                  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                }
                &:hover {
                  transform: scale(1.05);
                  outline: 2px solid $text-300;
                  background: transparent;
                  color: $text-300;
                  .explain-text {
                    transform: translateY(-100%);
                    opacity: 0;
                  }
                }
                &:hover::after {
                  transform: translateY(-100%);
                  opacity: 1;
                }
                &:active {
                  transform: scale(0.95);
                }
              }
            }
          }
          .login-main {
            width: 100%;
            text-align: center;
            position: relative;
            min-width: 300px;
            box-sizing: border-box;
            > img {
              -webkit-touch-callout: none; /* 禁止长按弹出默认菜单 */
              user-select: none; /* 禁用选择文本 */
              filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
            }
          }
        }
      }
      // 媒体查询 <780px
      @media screen and (max-width: 780px) {
        padding: 20px 0;
        .rocket-bg {
          top: 30%;
          animation: none;
        }
        .rocket-container {
          flex-direction: column-reverse;
          section {
            width: 100%;
            .login-main {
              height: 400px;
              padding-left: 10px;
            }
            .login-main-explain {
              padding: 20px;

              .ai-explain {
                font-size: 14px;
                opacity: 0.6;
              }
              .explain-btn {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
    .rocket-introduce {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      article {
        width: calc(100% / 3);
        padding: 10px;
        box-sizing: border-box;
        .article-container {
          height: 120px;
          border-radius: 20px;
          padding: 30px;
          border: 2px solid transparent;
          background-color: $bg-200;
          opacity: 0.6;
          transition: all 0.1s;
          &:hover {
            opacity: 1;
            background-color: $bg-500;
            border-color: $text-200;
            background-image: radial-gradient(
              rgba($text-100, 0.2) 1px,
              transparent 1px
            );
            background-position: 50% 50%;
            background-size: 1.5rem 1.5rem;

            .article-ctx {
              opacity: 1;
              transform: translateY(-40%);
            }
            .article-icon {
              transform: translateY(-20%);
              > i {
                font-size: 35px;
              }
            }
            .article-header {
              transform: translateY(-40%);
            }
          }
          .article-icon {
            text-align: center;
            padding: 10px 0 15px 0;
            > i {
              font-size: 50px;
              transition: all 0.1s;
            }
          }
          .article-header {
            font-size: 18px;
            text-align: center;
            padding-bottom: 20px;
            letter-spacing: 1px;
          }
          .article-ctx {
            transform: translateY(0%);
            opacity: 0;
            transition: transform 0.2s ease, opacity 0.2s ease;
          }
        }
      }
      @media screen and (max-width: 1000px) {
        article {
          width: calc(100% / 2);
        }
      }
      @media screen and (max-width: 780px) {
        article {
          width: 100%;
        }
      }
    }
  }
}

// 黑暗模式
.login-container.dark-mode {
  transition: color 0.5s, background-color 0.5s;
  color: $bg-100;
  background-color: $text-200;
  header {
    .header-content {
      &:hover {
        .mrkLogo {
          filter: none;
        }
      }
      .mrkLogo {
        filter: grayscale(100%) brightness(200%); //白
      }
    }
  }
  main {
    .rocket-box {
      .rocket-container {
        section {
          .login-main-explain {
            .ai-point {
              opacity: 0.6;
              &:hover {
                opacity: 1;
              }
            }
            .explain-btn {
              > :first-child {
                &:hover {
                  background: transparent;
                  outline: 2px solid $bg-200;
                  color: $bg-200;
                }
              }
              > :last-child {
                background-color: rgba($text-300, 0.8);
                &:hover {
                  background: transparent;
                  outline: 2px solid $bg-200;
                  color: $bg-200;
                }
              }
            }
          }
        }
      }
    }
    .rocket-introduce {
      article {
        .article-container {
          background-color: $text-600;
          &:hover {
            border-color: $bg-100;
            background-color: $text-700;
            background-image: radial-gradient(
              rgba($bg-100, 0.1) 1px,
              transparent 1px
            );
          }
        }
      }
    }
  }
}
