@import '@/styles/theme';
.login-container {
  box-sizing: border-box;
  transition: color 0.5s, background-color 0.5s;
  color: $text-200;
  background-color: $bg-100;
  position: relative;
  width: 100%;
  min-height: 100%;
  // overflow: auto;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  header {
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
    background: transparent;
    transform: translateZ(0); //触发 GPU 硬件加速
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    backface-visibility: hidden; //解决ios上内容闪动的问题
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    .header-content {
      padding: 0 25px;
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1300px;
      margin: 0 auto;
      .mrk-logo {
        height: 25px;
        display: flex;
        align-items: center;
        img {
          height: 100%;
          &:last-child {
            margin-left: 5px;
            height: 70%;
          }
        }
      }

      .btn-box {
        display: flex;
        align-items: center;
        height: 100%;
        .space-line {
          margin: 0 15px;
          width: 1px;
          height: 15px;
          background-color: $border-color-100;
        }
      }
    }
  }
  .bg-box {
    height: 600px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    background-image: linear-gradient(to bottom, rgb(148, 153, 253), #ffffff);
    &::after {
      -webkit-backface-visibility: hidden;
      -webkit-background-clip: content-box;
      background-image: linear-gradient(90deg, #8b5cf6 1px, transparent 0),
        linear-gradient(180deg, #8b5cf6 1px, transparent 0);
      background-position: bottom;
      background-size: 100px 50px;
      bottom: 0;
      content: '';
      display: block;
      height: 100%;
      -webkit-mask-image: -webkit-gradient(
        linear,
        left 90%,
        left top,
        from(#000),
        to(transparent)
      );
      mask-image: gradient(
        linear,
        left 90%,
        left top,
        from(#000),
        to(transparent)
      );
      outline: 1px solid transparent;
      padding: 1px;
      right: 0;
      transform: perspective(400px) rotateX(40deg) scaleX(2) translateZ(0);
      transform-origin: bottom center;
      will-change: transform;
    }
  }
  main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1250px;
    padding: 65px 0 30px 0;
    margin: 0 auto;
    position: relative;
    > section {
      padding: 30px 0;
      @media screen and (max-width: 768px) {
        padding: 10px 0;
      }
    }
    .rocket-introduce-section {
      padding: 0;
      padding-bottom: 30px;
    }
    .rocket-box {
      position: relative;
      padding: 100px 0 100px 0;
      width: 100%;
      overflow: hidden;
      .rocket-bg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: move 50s linear infinite;
        @keyframes move {
          0% {
            opacity: 1;
            transform: translate(-100%, -50%) scale(1);
          }
          50% {
            opacity: 0.8;
            transform: translate(100%, -50%) scale(0.9);
          }
          100% {
            opacity: 1;
            transform: translate(-100%, -50%) scale(1);
          }
        }
      }
      .rocket-container {
        display: flex;
        justify-content: center;
        // transform: translateZ(0); //触发 GPU 硬件加速
        // -webkit-transform: translateZ(0);
        // -moz-transform: translateZ(0);
        // -ms-transform: translateZ(0);
        // -o-transform: translateZ(0);
        // backface-visibility: hidden; //解决ios上内容闪动的问题
        // -webkit-backdrop-filter: blur(20px); //兼容设备
        // backdrop-filter: blur(20px);

        section {
          width: 40%;
          img {
            max-width: 80%;
            height: 100%;
          }
          .login-main-explain {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 30px;
            padding-bottom: 10px;
            .ai-title {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 48px;
              font-weight: 700;
              padding: 20px 0;
              padding-bottom: 15px;
              background: -webkit-linear-gradient(
                144deg,
                #9500ff,
                $primary-500 80%,
                #00ddeb
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;

              .ai-icon {
                font-size: 35px;
                margin-left: 10px;
              }
            }
            .ai-subtitle {
              font-size: 35px;
              font-weight: 700;
              padding-bottom: 20px;
            }
            .ai-point {
              opacity: 1;
              padding-bottom: 20px;
              font-size: 25px;
              font-weight: 700;
              display: flex;
              justify-content: center;
              align-items: center;
              .space-line {
                margin: 0 15px;
                width: 2px;
                height: 16px;
                background-color: $border-color-100;
              }
            }
            .ai-explain {
              opacity: 0.6;
              min-height: 3em;
              font-size: 16px;
              &:hover {
                opacity: 1;
              }
            }
            .explain-btn {
              // font-weight: 600;
              letter-spacing: 1.8px;
              margin-top: 40px;
              display: flex;
              justify-content: center;
              > div {
                color: $bg-100;
                cursor: pointer;
                text-decoration: none;
                padding: 10px 24px;
                border-radius: 24px;
                border: none;
                transition: all 80ms ease-in-out;
              }
              > :first-child {
                margin-right: 20px;
                background: linear-gradient(
                  -45deg,
                  $accent-500 0%,
                  $accent-600 100%
                );
                outline: 2px solid transparent;

                &:hover {
                  transform: scale(1.05);
                  outline: 2px solid $text-300;
                  background: transparent;
                  color: $text-300;
                }
                &:active {
                  transform: scale(0.95);
                }
              }
              > :last-child {
                background-color: $text-200;
                overflow: hidden;
                position: relative;
                .explain-text {
                  transform: translateY(0%);
                  opacity: 1;
                  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                }
                &:after {
                  content: 'M-DOC';
                  position: absolute;
                  left: 23px;
                  transform: translateY(50%);
                  opacity: 0;
                  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                }
                &:hover {
                  transform: scale(1.05);
                  outline: 2px solid $text-300;
                  background: transparent;
                  color: $text-300;
                  .explain-text {
                    transform: translateY(-100%);
                    opacity: 0;
                  }
                }
                &:hover::after {
                  transform: translateY(-100%);
                  opacity: 1;
                }
                &:active {
                  transform: scale(0.95);
                }
              }
            }
          }
          .login-main {
            margin: 0 auto;
            width: 65%;
            text-align: center;
            position: relative;
            min-width: 300px;
            box-sizing: border-box;
            opacity: 0;
            animation: springFadeAnimation-left 1s
              cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s forwards;
            @keyframes springFadeAnimation-left {
              from {
                opacity: 0;
                transform: translateX(-50px);
              }
              to {
                opacity: 1;
                transform: translateX(0);
              }
            }
            > img {
              // height: 500px;
              -webkit-touch-callout: none; /* 禁止长按弹出默认菜单 */
              user-select: none; /* 禁用选择文本 */
              filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
            }
          }
        }
      }
      // 媒体查询 <768px
      @media screen and (max-width: 768px) {
        padding: 20px 0;
        .rocket-bg {
          top: 30%;
          animation: none;
        }
        .rocket-container {
          flex-direction: column-reverse;
          section {
            width: 100%;
            .login-main {
              height: 400px;
              // padding-left: 10px;
              opacity: 0;
              animation: springFadeAnimation-left 1s
                cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s forwards;
              @keyframes springFadeAnimation-left {
                from {
                  opacity: 0;
                  transform: translateY(-50px);
                }
                to {
                  opacity: 1;
                  transform: translateY(0);
                }
              }
            }
            .login-main-explain {
              padding: 20px;

              .ai-explain {
                font-size: 14px;
                opacity: 0.6;
              }
              .explain-btn {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
    .rocket-introduce-title {
      padding: 25px;
      font-size: 25px;
      text-align: center;
    }
    .rocket-introduce {
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      article {
        width: calc(100% / 3);
        padding: 10px;
        box-sizing: border-box;
        .article-container {
          height: 120px;
          border-radius: 20px;
          padding: 30px;
          border: 2px solid transparent;
          background-color: $bg-200;
          opacity: 0.6;
          transition: all 0.1s;
          &:hover {
            opacity: 1;
            background-color: $bg-500;
            border-color: $text-200;
            background-image: radial-gradient(
              rgba($text-100, 0.2) 1px,
              transparent 1px
            );
            background-position: 50% 50%;
            background-size: 1.5rem 1.5rem;

            .article-ctx {
              opacity: 1;
              transform: translateY(-40%);
            }
            .article-icon {
              transform: translateY(-20%);
              > img {
                height: 35px;
              }
              > i {
                font-size: 35px;
              }
            }
            .article-header {
              transform: translateY(-40%);
            }
          }
          .article-icon {
            text-align: center;
            padding: 10px 0 15px 0;
            > img {
              height: 50px;
              transition: all 0.1s;
            }
            > i {
              font-size: 50px;
              transition: all 0.1s;
            }
          }
          .article-header {
            font-size: 18px;
            text-align: center;
            padding-bottom: 20px;
            letter-spacing: 1px;
          }
          .article-ctx {
            transform: translateY(0%);
            opacity: 0;
            transition: transform 0.2s ease, opacity 0.2s ease;
          }
        }
      }
      @media screen and (max-width: 1000px) {
        article {
          width: calc(100% / 2);
        }
      }
      @media screen and (max-width: 768px) {
        article {
          width: 100%;
        }
      }
    }
    .rocket-questions {
      .questions-content {
        padding-left: 24px;
        > p {
          margin: 10px 0;
        }
        > ul > li {
          line-height: 35px;
        }
      }
      .ant-collapse-borderless {
        background-color: transparent;
      }
      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        font-size: 18px;
      }
      .ant-collapse .ant-collapse-content {
        font-size: 16px;
      }
      .ant-collapse-borderless > .ant-collapse-item {
        border-bottom: 1px solid $bg-200;
      }
    }
    .rocket-team-section {
      .team-logo-box {
        text-align: center;
        > img {
          height: 35px;
          // transform: translateY(20px);
        }
      }
      .rocket-team-explain {
        padding: 20px;
        opacity: 0.6;
        font-size: 14px;
        text-align: center;
        // transform: translateY(-10px);
      }
      .rocket-team-title {
        padding: 10px;
      }
      .rocket-team {
        width: calc(100% - 40px);
        max-width: 650px;
        height: 235px;
        margin: 50px auto;
        border-radius: 20px;
        box-shadow: 2px 24px 70px $bg-600;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .rocket-team-medal {
          height: 100px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  footer {
    box-sizing: border-box;
    border-top: 1px solid $bg-200;
    width: 100%;
    padding: 20px;
    .footer-title {
      padding: 10px;
      font-size: 20px;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        height: 18px;
        margin-bottom: 15px;
      }
    }
    .footer-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      box-sizing: border-box;
      max-width: 1250px;
      padding: 20px 0 80px 0;
      margin: 0 auto;
      > div {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        // width: 180px;
        width: calc((100% - 100px) / 5);
        height: 40px;
        border: 1px solid $bg-800;
        // margin: 25px;
        border-radius: 4px;
        transition: all 0.3s ease;
        > img {
          height: 25px;
          margin-right: 10px;
        }
        &:hover {
          border-color: transparent;
          box-shadow: 1px 1px 18px $bg-200;
          transform: scale(1.1);
        }
        @media screen and (max-width: 1000px) {
          width: calc((100% - 100px) / 3);
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }

    .footer-explain {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      img {
        height: 32px;
        margin: 15px 0;
        opacity: 0.6;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// 黑暗模式
.login-container.dark-mode {
  transition: color 0.5s, background-color 0.5s;
  color: $bg-100;
  background-color: $text-200;
  header {
    .header-content {
      &:hover {
        .mrkLogo {
          filter: none;
        }
      }
      // .mrkLogo {
      //   filter: grayscale(100%) brightness(200%); //白
      // }
      .btn-box {
        .space-line {
          opacity: 0.2;
        }
      }
    }
  }
  .bg-box {
    background-image: linear-gradient(to bottom, rgb(148, 153, 253), #191919);
  }
  main {
    .rocket-box {
      .rocket-container {
        section {
          .login-main-explain {
            .ai-point {
              opacity: 0.6;
              &:hover {
                opacity: 1;
              }
            }
            .explain-btn {
              > :first-child {
                &:hover {
                  background: transparent;
                  outline: 2px solid $bg-200;
                  color: $bg-200;
                }
              }
              > :last-child {
                background-color: rgba($text-300, 0.8);
                &:hover {
                  background: transparent;
                  outline: 2px solid $bg-200;
                  color: $bg-200;
                }
              }
            }
          }
        }
      }
    }

    .rocket-introduce {
      article {
        .article-container {
          background-color: $text-600;
          &:hover {
            border-color: $bg-100;
            background-color: $text-700;
            background-image: radial-gradient(
              rgba($bg-100, 0.1) 1px,
              transparent 1px
            );
          }
        }
      }
    }

    .rocket-questions {
      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        color: rgba($bg-100, 1);
      }
      .ant-collapse .ant-collapse-content {
        color: rgba($bg-100, 0.8);
      }
      .ant-collapse-borderless > .ant-collapse-item {
        border-bottom: 1px solid $text-300;
      }
    }
    .rocket-team {
      box-shadow: 2px 24px 70px $text-300;
    }
  }
  footer {
    border-color: $text-300;
    .footer-content {
      > div {
        border: 1px solid $text-500;
        &:hover {
          opacity: 1;
          box-shadow: 1px 1px 18px $text-300;
          transform: scale(1.1);
        }
      }
    }
  }
}
