@import '@/styles/theme';
.knowledge-container {
  padding: 15px;
  padding-top: 0;
  position: relative;
  .knowledge-title-bread {
    padding: 0px 5px;
    padding-bottom: 10px;
  }
  .knowledge-list {
    .knowledge-list-title {
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: -49px;
      right: 15px;
    }
    .knowledge-list-content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      .knowledge-content-item {
        width: calc(100% / 3 - 14px);
        height: 120px;
        box-sizing: border-box;
        padding: 10px 12px;
        border: 1px solid $border-color-100;

        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: border-color 0.1s ease;
        &:hover {
          border-color: $primary-900;
        }
        // 媒体查询 <1000px
        @media screen and (max-width: 1000px) {
          width: calc(100% / 2 - 10px);
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        .knowledge-item-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          position: relative;

          img {
            height: 24px;
            margin-right: 8px;
          }
          > :first-child {
            font-weight: 600;
            letter-spacing: 0.5px;
            max-width: 80%;
          }
          .knowledge-item-header-edit {
            cursor: pointer;
            padding: 12px;
            position: absolute;
            right: -12px;
            top: -10px;
            border-radius: 8px;
          }
        }
        .knowledge-item-content {
          font-size: 14px;
          padding-left: 3px;
          padding-right: 50px;
        }
        .knowledge-item-footer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          opacity: 0.5;
          i {
            margin-right: 3px;
          }
        }
      }
      // 空
      .knowledge-content-empty {
        height: calc(100vh - 350px);
        display: flex;
        align-items: center;
        margin: 0 auto;
      }
    }
    .knowledge-list-footer {
      margin: 30px 0;
      display: flex;
      justify-content: flex-end;
    }
  }
  .knowledge-detail {
    .knowledge-detail-title {
      margin-bottom: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

// list-新建下拉
.knowledge-list-dropdown-box {
  background-color: $bg-100;
  box-shadow: 0 6px 10px 0 rgba(33, 33, 33, 0.1);
  padding: 5px 5px;
  margin-top: 5px;
  border-radius: 8px;
  > div {
    padding: 2px 0;
    box-sizing: border-box;
  }
  > :not(:last-child) {
    border-bottom: 1px solid rgba($border-color-100, 0.5);
  }
  .title-dropdown-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    .ant-btn-icon {
      margin-inline-end: 5px;
    }
    img {
      height: 24px;
    }
  }
}
// list-弹框-title
.knowledge-list-modal-title {
  display: flex;
  align-items: center;
  > img {
    height: 26px;
    margin-right: 5px;
  }
}

// 弹框-移动 move-list
.knowledge-move-list {
  max-height: 50vh;
  overflow: auto;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .knowledge-move-item-content {
    width: calc((100% - 30px) / 4);
    flex-direction: column;
    transition: background-color 0.1s;
    &:hover {
      background-color: #e5f3ff;
    }
    &:active {
      background-color: transparent;
    }
    img {
      width: 60%;
    }
    .knowledge-move-item-name {
      max-width: 80%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      img {
        width: 18%;
      }
      .knowledge-move-item-name {
        max-width: 60%;
        margin-left: 10px;
      }
    }
  }
  .knowledge-move-empty {
    margin: 0 auto;
  }
}
.knowledge-list-modal-footer {
  margin-top: 10px;
  @media screen and (max-width: 768px) {
    text-align: center;
    .knowledge-list-modal-btn {
      width: 100%;
    }
  }
}
