@import '@/styles/theme';
.knowledge-container {
  .knowledge-title {
    margin-bottom: 10px;
  }
  .knowledge-content {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    .knowledge-content-item {
      width: 25%;
      height: 110px;
      box-sizing: border-box;
      padding: 10px 12px;
      border: 1px solid $bg-300;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .knowledge-item-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        img {
          height: 20px;
          margin-right: 8px;
        }
        > :last-child {
          cursor: pointer;
        }
      }
      .knowledge-item-content {
      }
      .knowledge-item-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        i {
          margin-right: 3px;
        }
      }
    }
  }
}
