@import '@/styles/theme';
.admin-container {
  box-sizing: border-box;
  transition: color 0.5s, background-color 0.5s;
  color: $text-200;
  background-color: $bg-900;
  position: relative;
  width: 100%;
  min-height: 100%;
  // overflow: auto;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  > main {
    padding-top: 55px;
    @media screen and (max-width: 780px) {
      padding-bottom: 55px;
    }
  }
}

// 黑暗模式
.admin-container.dark-mode {
  transition: color 0.5s, background-color 0.5s;
  color: $bg-100;
  background-color: $text-200;
}

// 修改antd组件默认样式
.ant-drawer {
  .ant-drawer-header,
  .ant-drawer-body {
    padding: 0px;
    border: none;
  }
  .ant-drawer-header-title {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0);
  }
}
