@import '@/styles/theme';
.chat-container {
  width: 100%;
  height: 100%;
  position: relative;
  // .chat-select-btn {
  //   position: absolute;
  //   top: -49px;
  //   right: 0;
  // }
  // 聊天
  main {
    scroll-behavior: smooth; //平滑滚动
    height: calc(100% - 49px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .chat-prompt-box {
      position: absolute;
      font-size: 14px;
      width: 100%;
      // 角色介绍
      .chat-prompt-role {
        min-height: 70px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        background-color: $primary-1000;
        box-shadow: $shadow-200;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          padding: 15px;
        }
        .chat-prompt-role-left {
          width: 65%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .role-info-name {
            padding-top: 5px;
            font-size: 25px;
            margin-bottom: 10px;
            > i {
              font-size: 22px;
              margin-right: 3px;
            }
          }
          .role-info-ability {
            margin-bottom: 10px;
          }
          .role-info-author {
            margin-top: 20px;
            img {
              height: 20px;
              border-radius: 50%;
            }
            .role-info-title {
              margin-bottom: 10px;
              .role-info-model {
                margin-right: 5px;
                display: inline-block;
                background: linear-gradient(
                  269deg,
                  #a171ff -3.63%,
                  #5d66ff 100.38%
                );
                padding: 2px 6px;
                border-radius: 12px;
                font-size: 12px;
                color: #fff;
              }
            }
          }
        }
        .chat-prompt-role-right {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .role-info-head {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin-right: 3px;
            border: 3px solid $bg-500;
            margin-top: 10px;
            @media screen and (max-width: 768px) {
              margin-top: 20px;
            }
            > img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .role-info-collect {
            .role-info-star {
              cursor: pointer;
              > i {
                font-size: 16px;
                color: $accent-1000;
              }
              > :last-child {
                font-size: 16px;
                margin-left: 3px;
              }
              &:first-child {
                margin-right: 15px;
                > i {
                  font-size: 17px;
                  color: $accent-500;
                }
              }
            }
          }
        }
      }
      // 预设问题
      .chat-prompt-question-box {
        margin-top: 10px;
        box-sizing: border-box;

        .chat-prompt-title {
          font-size: 16px;
          margin-bottom: 5px;
          text-align: center;
          position: relative;
          opacity: 0.4;
          &::before {
            content: '';
            width: calc((100% - 100px) / 2);
            height: 1px;
            background-color: $text-200;
            opacity: 0.2;
            position: absolute;
            left: 0;
            top: calc(50% - 1px);
          }
          &::after {
            content: '';
            width: calc((100% - 100px) / 2);
            height: 1px;
            background-color: $text-200;
            opacity: 0.2;
            position: absolute;
            right: 0;
            top: calc(50% - 1px);
          }
        }
        .chat-question {
          position: relative;

          > span {
            cursor: pointer;
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
            padding: 8px 12px;
            background-color: $primary-1000;
            border-radius: 4px;
          }
        }
      }
    }

    // 聊天页面
    .chat-chat-main {
      font-size: 14px;
      overflow-x: hidden;
      > div {
        margin: 30px 0;
        border-radius: 10px;
        display: flex;
        @media screen and (max-width: 768px) {
          margin: 20px 0;
        }
        > img {
          height: 30px;
          border-radius: 50%;
        }
        .msg-item {
          padding: 8px 12px 0 12px;
          max-width: calc(100% - 95px);
          background: $primary-1100;
          border-radius: 4px;
          position: relative;
          @media screen and (max-width: 768px) {
            max-width: calc(100% - 72px);
          }
          // 刷新
          .msg-refush {
            position: absolute;
            right: -15px;
            top: 0px;

            cursor: pointer;
            > i {
              font-size: 14px;
            }
          }
        }
      }
      // 用户消息
      .user-msg {
        // text-align: right;
        justify-content: flex-end;
        > img {
          margin-left: 5px;
        }
      }
      // 机器人消息
      .bot-msg {
        text-align: left;
        justify-content: flex-start;
        transition: opacity 0.3s ease;
        > div {
          background: $bg-200;
        }
        > img {
          margin-right: 5px;
        }
        &.hide {
          opacity: 0;
        }
      }
    }
    // 聊天页面 - 空
    .chat-chat-empty {
      height: 100%;
      display: flex;
      justify-content: center;
      // align-items: end;
      align-items: center;

      .chat-empty-icon {
        margin-top: 200px;

        > img {
          opacity: 0.1;
          width: 35px;
          filter: brightness(0);
          @media screen and (max-width: 768px) {
            width: 30px;
          }
        }
      }
    }
  }
  footer {
    padding-top: 10px;
    background-color: $bg-900;
    position: absolute;
    bottom: 0;
    width: 100%;
    .chat-text-send-container {
      width: 100%;
      display: flex;
      align-items: flex-end;
      // transition: 2s;
      .chat-text-area-box {
        padding: 3px 0;
        flex: 1;
        border: 1px solid $border-color-200;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        .chat-footer-sound {
          margin-right: 10px;
          top: -2px;
          > i {
            font-size: 26px;
          }
        }
      }
      .chat-footer-icon {
        position: relative;
        top: -4px;
        cursor: pointer;
        i {
          font-size: 30px;
        }
      }
      .chat-footer-send {
        margin-left: 8px;
      }

      .add-rotate {
        transform: rotate(-45deg);
        transition: transform 0.2s ease;
      }
      .reverse-rotate {
        transform: rotate(0deg);
        transition: transform 0.2s ease;
      }
    }
    .chat-text-extend-container {
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      transition: all 0.2s ease-in-out;
      max-height: 0;
      overflow: hidden;
      // opacity: 0;
      .chat-text-extend-item {
        cursor: pointer;
        flex-direction: column;
        width: calc((100% / 9 - 20px));
        aspect-ratio: 1/1;
        // width: 80px;
        // height: 80px;
        box-sizing: border-box;
        background-color: $bg-100;
        color: $text-500;
        border: 1px solid $border-color-200;
        border-radius: 10px;
        > :first-child {
          margin-bottom: 5px;
          > i {
            font-size: 25px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .chat-text-extend-container.isExtended {
      max-height: 300px;
      padding-top: 20px;
      opacity: 1;
    }

    @media screen and (max-width: 768px) {
      // width: calc(100% - 30px);
      .chat-text-extend-container {
        gap: 10px;
        .chat-text-extend-item {
          width: calc((100% / 4) - 10px);
        }
      }
    }
  }
}

// 黑暗模式
.chat-container.dark-mode {
  main {
    .chat-prompt-box {
      .chat-prompt-role {
        background-color: $text-700;
        .chat-prompt-title {
          i,
          > :last-child {
            background-image: linear-gradient(40deg, #ff0080, #ff8c00 70%);
          }
        }
      }
      // 预设问题
      .chat-prompt-question-box {
        .chat-prompt-title::before,
        .chat-prompt-title::after {
          background-color: $bg-100;
        }
        .chat-question {
          > span {
            background-color: $text-700;
          }
        }
      }
    }

    // 聊天页面
    .chat-chat-main {
      > div {
        .msg-item {
          background: linear-gradient(269deg, #5d66ff -3.63%, #a171ff 100.38%);
        }
      }
      // 机器人消息
      .bot-msg {
        > div {
          background: $text-700;
        }
      }
    }
    // 聊天页面 - 空
    .chat-chat-empty {
      .chat-empty-icon {
        > img {
          filter: brightness(0) invert(1); //invert(1)反转
        }
      }
    }
  }
  footer {
    background-color: $text-200;
    .chat-text-send-container {
      .chat-text-area-box {
        border: 1px solid rgba($color: $border-color-200, $alpha: 0.8);
        color: $bg-100;
        .custom-placeholder::placeholder {
          color: #fff;
          opacity: 0.8;
        }
      }
    }
    .chat-text-extend-container {
      .chat-text-extend-item {
        background-color: $text-700;
        color: $bg-100;
        border: 1px solid rgba($color: $border-color-200, $alpha: 0);
      }
    }
  }
}
