@import '@/styles/theme';
.manage-container {
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  > aside {
    box-sizing: border-box;
    height: calc(100% - 65px);
    width: 75px;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 65px;
    // 隐藏边框
    .manage-display-aside {
      position: absolute;
      left: 0;
      bottom: 50%;
      opacity: 0.3;
      transition: all 0.3s ease;
      cursor: pointer;
      &.hidden {
        opacity: 0;
        transform: translateX(-200%);
      }
      &:hover {
        opacity: 0.8;
      }
      > i {
        font-size: 25px;
      }
    }
    > nav {
      border-radius: 10px;
      height: 100%;
      box-sizing: border-box;
      background: transparent;
      backface-visibility: hidden; //解决ios上内容闪动的问题
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      transition: transform 0.3s ease;
      // 隐藏边框
      &.hidden {
        transform: translateX(-200%);
      }
      > div {
        padding: 10px;
        margin-bottom: 18px;
        border-radius: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        > i {
          font-size: 24px;
        }
      }
      .aside-first {
        background: linear-gradient(144deg, #5b42f3 50%, #00ddeb);
        margin-bottom: 24px;
        padding: 6px;
        > img {
          width: 30px;
          filter: grayscale(100%) brightness(200%); //白
        }
        &.active {
          img {
            animation: rotated 2.5s infinite;
          }
        }
      }

      .aside-last {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        > div {
          padding: 10px;
          margin-bottom: 20px;
          border-radius: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &:last-child {
            margin-bottom: 0;
          }
          > i {
            font-size: 24px;
          }
        }
        .space-line {
          padding: 0;
          width: 70%;
          height: 1px;
          background-color: $border-color-100;
        }
      }
      .aside-item-active {
        opacity: 0.4;
        transition: opacity 0.3s, background-color 0.3s;
        &:hover {
          opacity: 1;
          background-color: $bg-200;
          &:not(.active) > i {
            animation: 1.5s ease-in-out 0s infinite alternate both wiggle;
          }
        }
        &.active {
          opacity: 1;
          background-color: $bg-200;
          position: relative;

          &::before {
            content: '';
            height: 60%;
            width: 3px;
            background: linear-gradient(180deg, #af40ff, #5b42f3 50%, #00ddeb);
            border-radius: 10px;
            position: absolute;
            left: -10px;
            /* 添加动画 */
            animation-name: slideInLeft;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            /* 定义动画 */
            @keyframes slideInLeft {
              from {
                transform: translateX(500%);
              }
              to {
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
  > main {
    max-width: 1250px;
    padding-left: 70px;
    margin: 0 auto;
    transition: all 0.3s ease;
    // 隐藏边框
    &.no-padding-left {
      padding-left: 0;
    }
    > header {
      padding: 12px;
      .manage-header-item-box {
        width: 100%;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        font-size: 18px;
        border-bottom: 1px solid rgba($border-color-100, 0.5);
        // padding-bottom: 10px;
        height: 40px;
        .manage-header-item {
          > i {
            font-size: 20px;
            margin-right: 2px;
            background-image: linear-gradient(#af40ff, #5b42f3 50%, #00ddeb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }
}

// 黑暗模式
.manage-container.dark-mode {
  > aside {
    > nav {
      .aside-last {
        .space-line {
          opacity: 0.2;
        }
      }
      .aside-item-active {
        &:hover {
          background-color: $text-700;
        }
        &.active {
          background-color: $text-700;
          &::before {
            background-image: linear-gradient(40deg, #ff0080, #ff8c00 70%);
          }
        }
      }
    }
  }
  > main {
    > header {
      .manage-header-item-box {
        border-bottom: 1px solid rgba($border-color-100, 0.2);
        .manage-header-item {
          > i {
            background-image: linear-gradient(40deg, #ff0080, #ff8c00 70%);
          }
        }
      }
    }
  }
}
