@font-face {
  font-family: "iconfont"; /* Project id 4291850 */
  src: url('iconfont.woff2?t=1706758278013') format('woff2'),
       url('iconfont.woff?t=1706758278013') format('woff'),
       url('iconfont.ttf?t=1706758278013') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mr-shoucangtianchong:before {
  content: "\e64f";
}

.mr-xihuantianchong:before {
  content: "\e685";
}

.mr-yanzhengmatianchong:before {
  content: "\e686";
}

.mr-yanzhengma:before {
  content: "\e687";
}

.mr-taocanbanben:before {
  content: "\e6b6";
}

.mr-chaodaoxinpian:before {
  content: "\e681";
}

.mr-AIxinpianjiegou:before {
  content: "\e682";
}

.mr-kongshuju:before {
  content: "\e6ad";
}

.mr-bandaotixinpian:before {
  content: "\e683";
}

.mr-duqubanben:before {
  content: "\e933";
}

.mr-work-permit:before {
  content: "\e8a9";
}

.mr-odbc:before {
  content: "\e93a";
}

.mr-database:before {
  content: "\e940";
}

.mr-nfc-full:before {
  content: "\e94b";
}

.mr-reset:before {
  content: "\ea11";
}

.mr-tag-full:before {
  content: "\ea2b";
}

.mr-copy-rect:before {
  content: "\ea30";
}

.mr-pdf-full:before {
  content: "\ea44";
}

.mr-txt-full:before {
  content: "\ea47";
}

.mr-word-full:before {
  content: "\ea50";
}

.mr-paishe:before {
  content: "\e67d";
}

.mr-wenjianjia1:before {
  content: "\e679";
}

.mr-yuyinshuru:before {
  content: "\e6b0";
}

.mr-tupian1:before {
  content: "\e67a";
}

.mr-yuyinshuru1:before {
  content: "\e67c";
}

.mr-jia:before {
  content: "\e678";
}

.mr-shengboyuyinxiaoxi:before {
  content: "\e8c4";
}

.mr-yulan:before {
  content: "\e671";
}

.mr-yulan1:before {
  content: "\eb31";
}

.mr-gongzuo-jiantoufasonganniu:before {
  content: "\e680";
}

.mr-icon-withdraw:before {
  content: "\e672";
}

.mr-huifuquanbu:before {
  content: "\e674";
}

.mr-fuzhi:before {
  content: "\e675";
}

.mr-shishiyulan-01:before {
  content: "\e6cc";
}

.mr-a-yuyinyinbo:before {
  content: "\e677";
}

.mr-chuangjianv:before {
  content: "\e66b";
}

.mr-icons-air_element:before {
  content: "\e66c";
}

.mr-airdesign:before {
  content: "\e66e";
}

.mr-chuangjian:before {
  content: "\e888";
}

.mr-aiqfome:before {
  content: "\eb37";
}

.mr-chuangjianmoxing:before {
  content: "\e6c3";
}

.mr-a-xingzhuang1858kaobei:before {
  content: "\e66f";
}

.mr-mofabang:before {
  content: "\e670";
}

.mr-lianjie:before {
  content: "\e663";
}

.mr-charulianjie:before {
  content: "\ec7f";
}

.mr-a-sikaoxiangfalianxiangchuli:before {
  content: "\e66a";
}

.mr-data:before {
  content: "\e664";
}

.mr-add:before {
  content: "\e665";
}

.mr-examine:before {
  content: "\e666";
}

.mr-delete:before {
  content: "\e667";
}

.mr-qrcode:before {
  content: "\e668";
}

.mr-validate:before {
  content: "\e669";
}

.mr-xuanze:before {
  content: "\e696";
}

.mr-icon-:before {
  content: "\e72c";
}

.mr-xuanze1:before {
  content: "\e662";
}

.mr-xuanze2:before {
  content: "\e887";
}

.mr-group43:before {
  content: "\e661";
}

.mr-yidongdao:before {
  content: "\e6a3";
}

.mr-wenzimiaoshu:before {
  content: "\e719";
}

.mr-shuru:before {
  content: "\e660";
}

.mr-yidongxuanze:before {
  content: "\e67f";
}

.mr-yidong:before {
  content: "\e72a";
}

.mr-wenjianjia:before {
  content: "\e651";
}

.mr-zhishidian-01-01:before {
  content: "\e65e";
}

.mr-iclocked:before {
  content: "\e652";
}

.mr-tuandui:before {
  content: "\e655";
}

.mr-tuandui1:before {
  content: "\e656";
}

.mr-yisuo:before {
  content: "\e657";
}

.mr-tuandui2:before {
  content: "\e65c";
}

.mr-jishiben:before {
  content: "\e64e";
}

.mr-wenben:before {
  content: "\e650";
}

.mr-xuniVR-A:before {
  content: "\e64b";
}

.mr-VR:before {
  content: "\e64c";
}

.mr-favro:before {
  content: "\eb8d";
}

.mr-remen:before {
  content: "\e628";
}

.mr-redu:before {
  content: "\e67e";
}

.mr-zhankaimulu:before {
  content: "\e823";
}

.mr-yincangmulu:before {
  content: "\e824";
}

.mr-tupian:before {
  content: "\e695";
}

.mr-huitutiaosepan:before {
  content: "\e64a";
}

.mr-sheji_huatu:before {
  content: "\e68f";
}

.mr-michi:before {
  content: "\e61d";
}

.mr-a-1_huaban1:before {
  content: "\e643";
}

.mr-guanbi1:before {
  content: "\e646";
}

.mr-queren:before {
  content: "\e649";
}

.mr-zan:before {
  content: "\e63f";
}

.mr-chat:before {
  content: "\e66d";
}

.mr-newchunse:before {
  content: "\e75f";
}

.mr-New-Tga:before {
  content: "\ea8a";
}

.mr-new:before {
  content: "\e68e";
}

.mr-sms-new:before {
  content: "\e63e";
}

.mr-star01:before {
  content: "\e658";
}

.mr-ic_user:before {
  content: "\e6ba";
}

.mr-user--line:before {
  content: "\e791";
}

.mr-ic_user1:before {
  content: "\e68d";
}

.mr-user-admin:before {
  content: "\e63a";
}

.mr-tishi:before {
  content: "\e61f";
}

.mr-shouji:before {
  content: "\e61e";
}

.mr-mima:before {
  content: "\e653";
}

.mr-jiesuo:before {
  content: "\e65b";
}

.mr-fanhui:before {
  content: "\e65f";
}

.mr-baocun:before {
  content: "\e620";
}

.mr-daoru:before {
  content: "\e623";
}

.mr-daochu:before {
  content: "\e624";
}

.mr-guanbi:before {
  content: "\e62f";
}

.mr-danren:before {
  content: "\e630";
}

.mr-shangyixiang:before {
  content: "\e631";
}

.mr-tongguowancheng:before {
  content: "\e633";
}

.mr-xiazai:before {
  content: "\e634";
}

.mr-xiayixiang:before {
  content: "\e635";
}

.mr-zhuanhuan:before {
  content: "\e636";
}

.mr-chakan_yulan:before {
  content: "\e637";
}

.mr-jinzhichakan:before {
  content: "\e638";
}

.mr-github1:before {
  content: "\e673";
}

.mr-shujutongji:before {
  content: "\e603";
}

.mr-1huojian:before {
  content: "\e647";
}

.mr-yidongyunkongzhitaiicon58:before {
  content: "\e74d";
}

.mr-insert_tag_field:before {
  content: "\e6f7";
}

.mr-chuangxindian:before {
  content: "\e7ad";
}

.mr-renjijiaohu:before {
  content: "\eb66";
}

.mr-chajian1:before {
  content: "\e69d";
}

.mr-liujisuan:before {
  content: "\ec56";
}

.mr-shujujianmo:before {
  content: "\e641";
}

.mr-icon_xinyong_xianxing_jijin-:before {
  content: "\e60b";
}

.mr-shujucaiji:before {
  content: "\e6a1";
}

.mr-shujuguanli:before {
  content: "\e616";
}

.mr-shujumokuai:before {
  content: "\e62c";
}

.mr--shuju:before {
  content: "\e626";
}

.mr--shuju1:before {
  content: "\e62d";
}

.mr-shujuguanlian:before {
  content: "\e639";
}

.mr-shujumoxing:before {
  content: "\e617";
}

.mr-shujujiekou:before {
  content: "\e619";
}

.mr-shujukaifa:before {
  content: "\e61b";
}

.mr-shujuzhongxin:before {
  content: "\e648";
}

.mr-icon_xinyong_xianxing_jijin-1:before {
  content: "\e642";
}

.mr-bg-code:before {
  content: "\e63d";
}

.mr-kuozhangongneng:before {
  content: "\eaa0";
}

.mr-people-network:before {
  content: "\e865";
}

.mr-linghuokuozhan:before {
  content: "\e992";
}

.mr-a-kuozhanicon_huaban1fuben40:before {
  content: "\e64d";
}

.mr-aicustomer:before {
  content: "\e812";
}

.mr-wuguan:before {
  content: "\ec5f";
}

.mr-ziyuan49:before {
  content: "\e61c";
}

.mr-scazhinengduihuafenxi:before {
  content: "\e8e8";
}

.mr-zhinengkefuzhongxin:before {
  content: "\e615";
}

.mr-N5:before {
  content: "\e65d";
}

.mr-a-04:before {
  content: "\e63c";
}

.mr-lunyu:before {
  content: "\e60a";
}

.mr-icon_AI:before {
  content: "\e644";
}

.mr-a-zhineng9:before {
  content: "\eb36";
}

.mr-my:before {
  content: "\e7f1";
}

.mr-bulb1:before {
  content: "\e856";
}

.mr-cooperation-full:before {
  content: "\e85d";
}

.mr-idea-full:before {
  content: "\e861";
}

.mr-alarm:before {
  content: "\e871";
}

.mr-shield-full:before {
  content: "\e875";
}

.mr-inbox:before {
  content: "\e896";
}

.mr-inbox-full:before {
  content: "\e897";
}

.mr-search:before {
  content: "\e8ab";
}

.mr-search-full:before {
  content: "\e8ac";
}

.mr-where-full:before {
  content: "\e8e6";
}

.mr-fingerprint:before {
  content: "\e905";
}

.mr-record-sound:before {
  content: "\e971";
}

.mr-home-full:before {
  content: "\e973";
}

.mr-home:before {
  content: "\e974";
}

.mr-login-full:before {
  content: "\e97e";
}

.mr-exit-full:before {
  content: "\e97f";
}

.mr-power-full:before {
  content: "\e980";
}

.mr-refresh-full:before {
  content: "\e981";
}

.mr-load-full:before {
  content: "\e986";
}

.mr-lightning:before {
  content: "\e995";
}

.mr-lightning-full:before {
  content: "\e996";
}

.mr-like:before {
  content: "\e9a2";
}

.mr-like-full:before {
  content: "\e9a3";
}

.mr-badreview:before {
  content: "\e9a4";
}

.mr-calendar-v2:before {
  content: "\e9aa";
}

.mr-calendar-full:before {
  content: "\e9ab";
}

.mr-clock:before {
  content: "\e9ac";
}

.mr-visible-full:before {
  content: "\e9ae";
}

.mr-visible:before {
  content: "\e9af";
}

.mr-invisible:before {
  content: "\e9b0";
}

.mr-invert:before {
  content: "\e9c6";
}

.mr-invert-full:before {
  content: "\e9c7";
}

.mr-rocket:before {
  content: "\e9d7";
}

.mr-rocket-full:before {
  content: "\e9d8";
}

.mr-location-full:before {
  content: "\e9f1";
}

.mr-location:before {
  content: "\e9f2";
}

.mr-pin:before {
  content: "\e9f3";
}

.mr-pin-full:before {
  content: "\e9f4";
}

.mr-flag-full:before {
  content: "\e9f5";
}

.mr-flag:before {
  content: "\e9f6";
}

.mr-branch:before {
  content: "\e9fd";
}

.mr-combine-full:before {
  content: "\e9fe";
}

.mr-map-site-full:before {
  content: "\ea00";
}

.mr-map-finger-full:before {
  content: "\ea04";
}

.mr-locus-full:before {
  content: "\ea05";
}

.mr-locus:before {
  content: "\ea06";
}

.mr-bookmark:before {
  content: "\ea0f";
}

.mr-bookmark-full:before {
  content: "\ea10";
}

.mr-share-full:before {
  content: "\ea1c";
}

.mr-link:before {
  content: "\ea23";
}

.mr-link-off:before {
  content: "\ea24";
}

.mr-upload-full:before {
  content: "\ea25";
}

.mr-upload:before {
  content: "\ea26";
}

.mr-download:before {
  content: "\ea27";
}

.mr-printing:before {
  content: "\ea28";
}

.mr-folder:before {
  content: "\ea29";
}

.mr-four-squares:before {
  content: "\ea3e";
}

.mr-image-full:before {
  content: "\ea41";
}

.mr-json-full:before {
  content: "\ea42";
}

.mr-excel-full:before {
  content: "\ea45";
}

.mr-ppt-full:before {
  content: "\ea46";
}

.mr-audio-full:before {
  content: "\ea48";
}

.mr-avi-full:before {
  content: "\ea49";
}

.mr-zip-full:before {
  content: "\ea4a";
}

.mr-sort-full:before {
  content: "\ea4b";
}

.mr-sort-down-full:before {
  content: "\ea4d";
}

.mr-double-arrow-down:before {
  content: "\ea4e";
}

.mr-radio-off-full:before {
  content: "\ea6b";
}

.mr-checkbox-plus-full:before {
  content: "\ea6e";
}

.mr-checkbox-plus:before {
  content: "\ea6f";
}

.mr-multiply-full:before {
  content: "\ea71";
}

.mr-ok-full:before {
  content: "\ea72";
}

.mr-plus-full:before {
  content: "\ea73";
}

.mr-minus-full:before {
  content: "\ea74";
}

.mr-question-full:before {
  content: "\ea75";
}

.mr-careful-full:before {
  content: "\ea76";
}

.mr-percentage-full:before {
  content: "\ea7a";
}

.mr-percentage:before {
  content: "\ea7b";
}

.mr-number-sign-full:before {
  content: "\ea7c";
}

.mr-number-sign:before {
  content: "\ea7d";
}

.mr-mid:before {
  content: "\ea82";
}

.mr-expand:before {
  content: "\ea84";
}

.mr-tuichudenglu:before {
  content: "\e618";
}

.mr-service_ChatGPT:before {
  content: "\ea63";
}

.mr-chatgpt:before {
  content: "\e609";
}

.mr-tuichu:before {
  content: "\e632";
}

.mr-tuichu1:before {
  content: "\e60c";
}

.mr-tuichu2:before {
  content: "\e62a";
}

.mr-tuichu3:before {
  content: "\e602";
}

.mr-zhuce:before {
  content: "\e607";
}

.mr-qiehuan:before {
  content: "\e691";
}

.mr-zaixian:before {
  content: "\e62e";
}

.mr-zaixianyonghu:before {
  content: "\e627";
}

.mr-zaixian1:before {
  content: "\e68c";
}

.mr-zaixian2:before {
  content: "\e640";
}

.mr-wangluozaixianbaozheng:before {
  content: "\e601";
}

.mr-a-zaixianyonghu2:before {
  content: "\e629";
}

.mr-fasong1:before {
  content: "\e613";
}

.mr-qiehuanyuyan:before {
  content: "\e769";
}

.mr-more-2:before {
  content: "\ec60";
}

.mr-more-1:before {
  content: "\e645";
}

.mr-fasongchuansong-circle-xian:before {
  content: "\e8a7";
}

.mr-square:before {
  content: "\e67b";
}

.mr-weixin:before {
  content: "\e8bb";
}

.mr-qq:before {
  content: "\e612";
}

.mr-likes-1:before {
  content: "\e61a";
}

.mr-photo-1:before {
  content: "\e6b4";
}

.mr-window-up:before {
  content: "\e9c2";
}

.mr-shejishi:before {
  content: "\e600";
}

.mr-zhankai1:before {
  content: "\e614";
}

.mr-xiaolian:before {
  content: "\e605";
}

.mr-fasong:before {
  content: "\e65a";
}

.mr-duoyuyan:before {
  content: "\e654";
}

.mr-github:before {
  content: "\e82b";
}

.mr-lianxiwomen:before {
  content: "\e604";
}

.mr-gitee:before {
  content: "\e60f";
}

.mr-full:before {
  content: "\e60e";
}

.mr-un-full:before {
  content: "\e611";
}

.mr-menu-4:before {
  content: "\e755";
}

.mr-local-1:before {
  content: "\e621";
}

.mr-menu-3:before {
  content: "\e62b";
}

.mr-clear-1:before {
  content: "\e610";
}

.mr-del-1:before {
  content: "\e625";
}

.mr-change-1:before {
  content: "\e606";
}

.mr-setting-3:before {
  content: "\e6b3";
}

.mr-home-3:before {
  content: "\e63b";
}

.mr-user:before {
  content: "\e676";
}

.mr-home3:before {
  content: "\e6f5";
}

.mr-leave-1:before {
  content: "\e60d";
}

.mr-search-1:before {
  content: "\e608";
}

.mr-notify:before {
  content: "\e622";
}

.mr-evening-moon1:before {
  content: "\e716";
}

.mr-evening-moon2:before {
  content: "\e714";
}

.mr-triangle:before {
  content: "\e659";
}

