@font-face {
  font-family: "iconfont"; /* Project id 4291850 */
  src: url('iconfont.eot?t=1697611008292'); /* IE9 */
  src: url('iconfont.eot?t=1697611008292#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1697611008292') format('woff2'),
       url('iconfont.woff?t=1697611008292') format('woff'),
       url('iconfont.ttf?t=1697611008292') format('truetype'),
       url('iconfont.svg?t=1697611008292#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mr-circular2:before {
  content: "\e6bf";
}

.mr-circular:before {
  content: "\e627";
}

.mr-square:before {
  content: "\e67b";
}

.mr-triangle:before {
  content: "\e659";
}

