@import '@/styles/theme';
// 共有样式
.create-preview-container {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  position: relative;
  display: flex;
  gap: 30px;
  -webkit-overflow-scrolling: touch; /* 为移动设备提供流畅的滚动 */
  @media screen and (max-width: 768px) {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 30px;
    // 移动端只创建  不预览
    .preview-container-box {
      display: none;
    }
  }
  .create-preview-item {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
