@import '@/styles/theme';
// 共有样式
.create-preview-container {
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  position: relative;
  display: flex;
  gap: 30px;
  @media screen and (max-width: 768px) {
    padding: 10px;
    padding-top: 0;
  }
  .create-preview-item {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

// PC
.create-preview-pc {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
// app
.create-preview-app {
  display: none;
  padding-bottom: 50px;

  @media screen and (max-width: 768px) {
    display: block;
  }
  .create-preview-change-icon {
    position: absolute;
    top: -42px;
    right: 16px;
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}
