@import '@/styles/theme';
.preview-container {
  header {
    .preview-prompt-box {
      font-size: 14px;
      margin-bottom: 10px;
      width: 100%;
      min-height: 115px;
      padding: 12px;
      box-sizing: border-box;
      border-radius: 10px;
      background-color: $primary-1000;
      box-shadow: $shadow-200;
      .preview-model-name {
        margin-bottom: 5px;
      }
      .preview-prompt-icon-title {
        i {
          font-size: 16px;
          margin-right: 5px;
          margin-bottom: 3px;
          background-image: linear-gradient(#af40ff, #5b42f3 50%, #00ddeb);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .preview-prompt-text {
        margin-top: 3px;
        line-height: 20px;
        max-height: 150px;
        overflow: auto;
      }
    }
  }
  // 聊天
  main {
    scroll-behavior: smooth; //平滑滚动
    height: 765px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .preview-chat-main {
      font-size: 14px;
      overflow-x: hidden;
      > div {
        margin: 30px 0;
        border-radius: 10px;
        display: flex;
        > img {
          height: 30px;
          border-radius: 50%;
        }
        .msg-item {
          padding: 8px 12px 0 12px;
          max-width: calc(100% - 95px);
          background-color: $primary-1100;
          border-radius: 4px;
          @media screen and (max-width: 768px) {
            max-width: calc(100% - 72px);
          }
        }
      }
      // 用户消息
      .user-msg {
        justify-content: flex-end;
        > img {
          margin-left: 5px;
        }
      }
      // 机器人消息
      .bot-msg {
        text-align: left;
        justify-content: flex-start;
        > div {
          background-color: $bg-200;
        }
        > img {
          margin-right: 5px;
        }
      }
    }
  }
  footer {
    width: calc((100% - 60px) / 2);
    position: absolute;
    bottom: 20px;

    .preview-text-send-container {
      display: flex;
      align-items: flex-end;
      transition: 2s;
      .preview-text-area-box {
        flex: 1;
        border: 1px solid $border-color-200;
        border-radius: 20px;
        display: flex;
        align-items: flex-end;
        .preview-footer-sound {
          margin-right: 10px;
          top: -3px;
          > i {
            font-size: 23px;
          }
        }
      }
      .preview-footer-icon {
        position: relative;
        top: -3px;
        cursor: pointer;
        i {
          font-size: 28px;
        }
      }
      .preview-footer-send {
        margin-left: 8px;
      }

      .add-rotate {
        transform: rotate(-45deg);
        transition: transform 0.2s ease;
      }
      .reverse-rotate {
        transform: rotate(0deg);
        transition: transform 0.2s ease;
      }
    }
    .preview-text-extend-container {
      font-size: 12px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      transition: all 0.2s ease-in-out;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      .preview-text-extend-item {
        cursor: pointer;
        flex-direction: column;
        width: calc((100% / 6));
        aspect-ratio: 1/1;
        // width: 80px;
        // height: 80px;
        box-sizing: border-box;
        background-color: $bg-100;
        color: $text-500;
        border: 1px solid $border-color-200;
        border-radius: 10px;
        > :first-child {
          margin-bottom: 5px;
          > i {
            font-size: 25px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .preview-text-extend-container.isExtended {
      max-height: 300px;
      padding-top: 20px;
      opacity: 1;
    }

    @media screen and (max-width: 768px) {
      width: calc(100% - 30px);
      .preview-text-extend-container {
        gap: 10px;
        .preview-text-extend-item {
          width: calc((100% / 4) - 10px);
        }
      }
    }
  }
}
