@import '@/styles/theme';

// 自定义下拉
.custom-dropdown-app {
  color: $text-200;
  background-color: $bg-100;
  box-shadow: 0 6px 10px 0 rgba($bg-700, 0.1);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  height: 310px;
  box-sizing: border-box;
  .dropdown-list {
    margin-right: 5px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    > div {
      width: 190px;
      height: 50px;
      background-color: $bg-500;
      border-radius: 8px;
      box-sizing: border-box;
      padding: 10px;
      margin: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.6;
      &.active {
        opacity: 1;
      }
      &:hover {
        background-color: $bg-600;
        opacity: 1;
      }
    }
    .dropdown-list-allapps {
      width: 400px;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      opacity: 1;
      > i {
        font-size: 20px;
      }
    }
    .dropdown-list-new-icon {
      margin-left: 10px;
      font-size: 18px;
      color: $accent-800;
    }
  }
  .dropdown-right {
    width: 220px;
    height: 100%;
    flex-direction: column;
    color: $bg-100;
    border-radius: 8px;
    background-image: -webkit-linear-gradient(
      144deg,
      #9500ff,
      $primary-500 80%,
      #00ddeb
    );
    .icon-github {
      font-size: 35px;
    }
    .dropdown-right-title {
      font-size: 18px;
      font-weight: 600;
    }
    .dropdown-right-btn {
      cursor: pointer;
      background-color: $text-200;
      padding: 8px 10px;
      border-radius: 8px;
      width: 70%;
      box-sizing: border-box;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 5px;
      > i {
        font-size: 14px;
        color: $accent-400;
        margin-right: 6%;
      }
      &:hover {
        background-color: $text-400;
      }
    }
  }
}
// 自定义下拉 - 黑暗模式
.custom-dropdown-app.dark-mode {
  color: $bg-100;
  background-color: $bg-700;
  box-shadow: none;
  .dropdown-list {
    > div {
      background-color: $text-400;
      &:hover {
        background-color: $text-700;
      }
    }
  }
}
